.taglist {
  list-style: none;
  margin: 1.5rem 0 0 -0.5rem; //negative left margin here to counteract padding-left used (and wanted) in .archivelist ul - yeah, hacky.
  overflow: hidden; 
  padding: 0;
}

.taglist li {
  float: left; 
}

.taglist li + li {
  margin-top: 0; 
}

.csstag {
  background: $gray-2; //colour of tag's main body
  border-radius: 3px 0 0 3px;
  font-size: 60%;
  color: $gray-4;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  //-webkit-transition: color 0.2s;
}

.csstag::before {
  background: $body-bg;
  border-radius: 10px;
  //box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.csstag::after {
  background: $body-bg;
  border-bottom: 13px solid transparent;
  border-right: 10px solid $gray-2; //colour of tag's triangle
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.csstag:hover {
  background-color: $orange-pale;
  color: $orange;
  text-decoration: none;
}

.csstag:hover::after {
   border-right-color: $orange-pale; 
}
