// FOOTER
//
// Styles for managing the footer.

footer {
  margin-bottom: 2rem;
  color: $gray-6;
  font-size: 85%;
  opacity: .8;
}

.footer-left {
  float: left;
  width: 50%;
  text-align: left;
}

.footer-right {
  float: right;
  width: 50%;
  text-align: right;
}
