// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -1px;
  color: $gray-4;

  a {
    color: inherit;
  }

  small {
    margin-left: 1rem;
    font-size: 70%;
    font-weight: 500;
    //opacity: .5;
    letter-spacing: 0;
    color: $link-color;
  }
}
