/* CSS for the search bar 'include' */
/* Largely based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_search_button */

form.searchbox * {
box-sizing: border-box;
}

form.searchbox {
margin: 0; //auto to centre align
max-width: 80%;
}

form.searchbox input[type=text] {
    padding: 5px;
    font-size: $root-font-size;
    border: 1px solid grey;
    border-radius: 2px 0 0 2px;
    float: left;
    /*width: 80%;*/
    width: calc(100% - 80px);
    background: #ffffff;
    box-shadow: inset 1px 1px 1px #999;
}

form.searchbox button {
    float: left;
    /*width: 20%;*/
    width: 80px;
    padding: 5px;
    background-image:linear-gradient(to bottom,#ffa31a,#ff9a00);
    /*background: #ff9a00;*/
    color: white;
    font-size: $root-font-size;
    font-weight: bold;
    border: 1px solid grey;
    border-left: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    text-transform: uppercase;
}

form.searchbox button:hover {
    background-image:linear-gradient(to bottom,#ff9a00,#e68a00);
}

form.searchbox::after {
    content: "";
    clear: both;
    display: table;
}
