---
layout: page
title: Some numbers
description: 
---
{% assign post1Y = 0 %}
{% assign post1M = 0 %}
{% assign postnY = 0 %}
{% assign postnM = 0 %}
{% assign post1date = "blank" %}
{% assign postndate = "blank" %}
{% assign totalwords = 0 %}

{% for post in site.posts %}
  {% assign postswords = post.content | strip_html | number_of_words }}
  {% assign totalwords = totalwords | plus: postswords %}
  {% if forloop.first %}
    {% capture postnY %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture postnM %}{{ post.date | date: '%-m' }}{% endcapture %}
    {% capture postndate %}{{ post.date | date: "%-d %B %Y" }}{% endcapture %}
  {% endif %}
  {% if forloop.last %}
    {% capture post1Y %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture post1M %}{{ post.date | date: '%-m' }}{% endcapture %}
    {% capture post1date %}{{ post.date | date: "%-d %B %Y" }}{% endcapture %}
  {% endif %}
{% endfor %}
{% capture monthscalc %}{{ postnM | minus: post1M | divided_by: 12.00 | round:2 }}{% endcapture %}

<p>There are {{ site.posts.size }} posts on the blog, spanning {{ postnY | minus: post1Y | plus: monthscalc | round: 1 }} years!</p>
<p>First post made: {{ post1date }}</p>
<p>Last post made: {{ postndate }}</p>
<p>Total words written: {{ totalwords }}</p>
<p>Total tags applied: {{ site.tags.size }}</p>
