---
layout: page
title: Some numbers
description: 
---
{% assign post1Y = 0 %}
{% assign post1M = 0 %}
{% assign postnY = 0 %}
{% assign postnM = 0 %}
{% assign post1date = "blank" %}
{% assign postndate = "blank" %}
{% assign totalwords = 0 %}

{% for post in site.posts %}
  {% assign postswords = post.content | strip_html | number_of_words %}
  {% capture totalwords %}{{ totalwords | plus: postswords }}{% endcapture %}
  {{ post.title }} has {{ post.tags.size }} tags.
  {% if forloop.first %}
    {% capture postnY %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture postnM %}{{ post.date | date: '%-m' }}{% endcapture %}
    {% capture postndate %}{{ post.date | date: "%-d %B %Y" }}{% endcapture %}
  {% endif %}
  {% if forloop.last %}
    {% capture post1Y %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture post1M %}{{ post.date | date: '%-m' }}{% endcapture %}
    {% capture post1date %}{{ post.date | date: "%-d %B %Y" }}{% endcapture %}
  {% endif %}
{% endfor %}
{% capture monthscalc %}{{ postnM | minus: post1M | divided_by: 12.00 | round: 2 }}{% endcapture %}
{% capture yearscalc %}{{ postnY | minus: post1Y | plus: monthscalc | round: 1 }}{% endcapture %}

<p>There are {{ site.posts.size }} posts on the blog, written across {{ yearscalc }} years.</p>
<p>First post made: {{ post1date }}</p>
<p>Last post made: {{ postndate }}</p>
<p>Total words written: {{ totalwords }}</p>
<p>Average words per year: {{ totalwords | divided_by: yearscalc | round }}</p>
<p>Average words per post: {{ totalwords | divided_by: site.posts.size | round }}</p>
<p>Total tags applied: {{ site.tags.size }}</p>
