---
layout: page
title: Some Numbers
description: Some statistics about the blog, just for me (and the curious amongst you).
---
{% assign post1Y = 0 %}
{% assign post1M = 0 %}
{% assign postnY = 0 %}
{% assign postnM = 0 %}
{% assign post1date = "blank" %}
{% assign postndate = "blank" %}
{% assign totalwords = 0 %}
{% assign totaltags = 0 %}

{% for post in site.posts %}
  {% assign postswords = post.content | strip_html | number_of_words %}
  {% capture totalwords %}{{ totalwords | plus: postswords }}{% endcapture %}
  {% capture totaltags %}{{ totaltags | plus: post.tags.size }}{% endcapture %}
  {% if forloop.first %}
    {% capture postnY %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture postnM %}{{ post.date | date: '%-m' }}{% endcapture %}
    {% capture postndate %}{{ post.date | date: "%-d %B %Y" }}{% endcapture %}
  {% endif %}
  {% if forloop.last %}
    {% capture post1Y %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture post1M %}{{ post.date | date: '%-m' }}{% endcapture %}
    {% capture post1date %}{{ post.date | date: "%-d %B %Y" }}{% endcapture %}
  {% endif %}
{% endfor %}
{% capture monthscalc %}{{ postnM | minus: post1M | divided_by: 12.00 | round: 2 }}{% endcapture %}
{% capture yearscalc %}{{ postnY | minus: post1Y | plus: monthscalc | round: 1 }}{% endcapture %}

<p>Here are some statistics about the blog. There are no traffic and visitor numbers &mdash; those are too embarrassingly low to share &mdash; it's just stuff about the blog itself, like that there are {{ site.posts.size }} posts here, written across {{ yearscalc }} years. It likely of no interest to anyone but me.</p>
<p>First post made: <em>{{ post1date }}</em></p>
<p>Last post made: <em>{{ postndate }}</em></p>
<p>Number of posts: <em>{{ site.posts.size }}</em></p>
<p>Total words written: <em>{{ totalwords }}</em></p>
<p>Total tags used: <em>{{ totaltags }}</em></p>
<p>Unique tags: <em>{{ site.tags.size }}</em></p>
<p>Average words per year: <em>{{ totalwords | divided_by: yearscalc | round }}</em></p>
<p>Average words per post: <em>{{ totalwords | divided_by: site.posts.size | round }}</em></p>
<p>Average tags per post: <em>{{ totaltags | divided_by: site.posts.size | round }}</em></p>
