---
layout: page
title: test
description: debugging, ignore please.
---
Total posts: {{site.posts.size}}

<section id="archive" class="archivelist">
  {%for post in site.posts %}
    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
      <ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <h3>{{ post.date | date: '%Y' }}</h3>
        <ul>
      {% endif %}
    {% endunless %}
      {{ forloop.rindex }} <li><a href="{{ post.url }}">{{ post.title }}</a> <time class="meta-date">{{ post.date | date: "%-d %B %Y" }}</time></li>
  {% endfor %}
  </ul>
</section>
